<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://wincem.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-bay-013.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>wincem</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$wincem</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="cemeteryContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:s48426k111.database.windows.net,1433;Initial Catalog=wincemAvdITsV5sx;User ID=jmschmidt7@s48426k111;Password=Jm724405!" Name="Data Source=tcp:s48426k111.database.windows.net,1433;Initial Catalog=wincemAvdITsV5sx;User Id=jmschmidt7@s48426k111;Password=Jm724405!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="wincem.cemeteryContext, wincem" MigrationConfiguration="wincem.Migrations.Configuration, wincem" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)cemeteryContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:s48426k111.database.windows.net,1433;Initial Catalog=wincemAvdITsV5sx;User Id=jmschmidt7@s48426k111;Password=Jm724405!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>